<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
</head>
<body>
    {{error}}
    <form method='post' action="{% url 'blog:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">SUBMIT</button>
        <p><a href="{%url 'blog:signup'%}">don't have an account? click to Signup</a></p>
    </form>

</body>
</html>